.root {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 25px 30px;
  box-shadow: -2px 7px 15px 6px rgba(34, 60, 80, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.right {
  display: flex;
  align-items: center;
}
